div {
  margin: 10px;
}

span {
  cursor: pointer;
}

.app {
  display: flex;
  flex-direction: column;
}

#kinput {
  width: 190px;
}

#area {
  margin: 6px;
  width: 300px;
  height: 200px;
  resize: none;
  font-size: smaller;
}

html {
  position: relative;
  padding: 50px;
  scrollbar-width: thin;
}
/* 谷歌 */
html::-webkit-scrollbar {
  width: 6px;
}
html::-webkit-scrollbar-track-piece {
  background-color: #f0f0f0;
  border-radius: 4px;
  margin-right: 3px;
}
html::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #cdcdcd;
}
html::-webkit-scrollbar-corner {
  display: none;
}

body > div {
  margin: 1em auto;
}

#page {
  width: 60%;
}

.comments .content {
  height: 8em;
  margin: 1em;
  padding: 1em;
  padding-right: 3.7em;
  border: solid 1px rgb(149, 132, 154);
  border-radius: 5px;
  position: relative;

  white-space: pre-wrap;
  font-size: 0.8em;
  text-align: justify;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow-y: auto;
  scrollbar-width: thin;
}

.comments .btns {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0.5em;
  right: 0.7em;
}

.comments .btns button {
  margin-bottom: 0.3em;
}

.star ul,
.star li {
  display: inline-block;
  cursor: pointer;
  color: brown;
}

#top {
  width: 50px;
  position: fixed;
  bottom: 100px;
  right: 50px;
  display: none;
  border-radius: 10px;
  z-index: 100;
}

#import {
  position: relative;
  background-color: aliceblue;
  height: 300px;
  margin: 1em;
  overflow: hidden;

  & span {
    position: absolute;
  }
}

#content input {
  width: 20em;
}

.scroller {
  position: fixed;
  top: 2em;
  right: 3em;
}

.search input {
  width: 10rem;
}
