<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset='UTF-8'>
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
  <script defer src='https://unpkg.com/vue@next'></script>​
  <script defer src="src/index.js"></script>
  <link rel='stylesheet' href='../../styles/Template.css'>
  <link rel='icon' href='../../img/bili.ico'>
  <style>
    body {
      padding: 2em;
      background-color: rgb(236, 244, 251);
    }

    * {
      margin: 10px 2px;
    }

    .err {
      background-color: rgb(216, 168, 168);
    }
  </style>
  <title>Vue.js</title>
</head>

<body>
  <div>
    <div id="app">
      <button @click="adding">
        Count is: {{ count }}
      </button>

      <p>Using text interpolation: {{ rawHtml }}</p>
      <p>Using v-html directive: <span v-html="rawHtml"></span></p>

      <div>
        <input type="url" id="url" @input="getUrl">
        <a :href="urler" v-bind="obj">&nbsp;动态URL: {{urler}}</a>
      </div>

      <div>{{now}}</div>
      <div :class="classObj">233</div>

      <div>
        <span>循环 v-for：</span>
        <ul>
          <li v-for="(value, key, index) in items">
            {{key}}: {{value}}, index: {{index}}
          </li>
        </ul>
        <ul>
          <li v-for="n in count" :key="n">{{n}}</li>
        </ul>
      </div>

      <div class="form">
        <div>
          <input v-model="mes">
          <span>mes is {{mes}} </span>
        </div>
        
        <div>
          <p>Checked names: {{ checkedNames }}</p>

          <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
          <label for="jack">Jack</label>

          <input type="checkbox" id="john" value="John" v-model="checkedNames">
          <label for="john">John</label>
        </div>

        <div>
          <p>Selected: {{ selected }}</p>
          <span>选项：</span>
          <select v-model="selected">
            <option v-for="option in options" :value="option.value">
              {{ option.text }}
            </option>
          </select>
        </div>
      </div>

    </div>
  </div>


</body>

</html>