@tailwind base;
@tailwind components;
@tailwind utilities;

aside .userCard {
  @apply hover:bg-main-2 h-16 rounded-lg mb-2 py-1 px-2;
}

#chat-list a.active {
  @apply bg-main-1 hover:bg-main-1;
}

section.left {
  @apply bg-mes-left rounded-bl-none;
}

section.right {
  @apply bg-mes-right rounded-br-none self-end;
}

.time {
  @apply text-xs text-gray-300 w-fit select-none;
}

.first-time {
  @apply w-fit text-center text-xs mx-auto mb-4 p-[6px] bg-gray-600 bg-opacity-75 rounded-xl select-none;
}

input:focus {
  outline: none;
}

input {
  @apply w-full h-8 p-4 rounded-lg bg-main-2 text-sm;
}

.btn {
  @apply py-3 px-4 rounded-lg bg-main-2 hover:bg-main-1 active:bg-main-0;
}

main.phone-chat {
  @apply absolute top-0 right-0 flex;
}

* {
  scrollbar-color: #5c6468 transparent;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 5px;
}
