* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

thead {
  cursor: pointer;
}
th:hover {
  background: #fbfbfb;
}

#app {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
